.image{
    width:650px;
    height:680px;
}
.cover{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.top{
    margin-top: 25px;
    margin-bottom: 25px;
}
.head1{
    color: black;
    font-size: 35px;
    font-family: "Roboto";
    padding: 10px;
    margin: 10px;
}
.p1{
    color:gray;
    font-size: 15px;
}
.button1{
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: blue;
    font-size: 20px;
    border: 0px;
}

